fastapi
uvicorn
langchain
langchain-google-genai
langchain-community
langchain-text-splitters
pydantic
python-dotenv
pdfplumber
requests # <--- ADD THIS LINE
tiktoken
pypdf
# Trigger Vercel Deploy 2025-08-03